[submodule "tomorrow-theme"]
	path = tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
[submodule "mackupBackup/phpStorm-settings"]
	path = mackupBackup/phpStorm-settings
	url = /Users/Matthew/Code/Projects/scaffold/mackupBackup/phpStorm-settings
