"*":
  "exception-reporting":
    userId: "1dc757ad-0287-1821-64e0-9ee3734af182"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    invisibles: {}
